@font-face {
    font-family: "roboto-regular";
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto-bold";
    src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "roboto-light";
    src: url(./assets/fonts/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-regular";
}

img{
    max-width: 100%;
    display: block;
}

.app-container {
    display: flex;
    background: linear-gradient(135deg, rgb(204, 226, 186), rgb(92, 90, 217));
    .main-content {
        flex: 1;
    }
}